################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Source/PromotionEngine.Service.AutoPromotion/obj
/Test/PromotionEngine.Service.AutoPromotion_uTest/obj
